.flightTable {
    background-color: whitesmoke;
    width: 90%;
    margin: auto;
}

table {
    border-collapse: collapse;
    border: solid 1px;

}

.flightTable td:first-child,
th:first-child {
    border-left: none;
}

.flightTable td,
th {
    border-left: 1px solid;
}

.flightTable tr:last-child {
    border-bottom: none;
}

.flightTable tr th {
    border-bottom: 1px solid;
}

.addFlight{
    width: 90%;
    display: inline-flex;
    justify-content: space-between
}