.table {
    background-color: whitesmoke;
    width: 90%;
    margin: auto;
}

table {
    border-collapse: collapse;
    border: solid 1px;

}

.table td:first-child,
th:first-child {
    border-left: none;
}

.table td,
th {
    border-left: 1px solid;
}

.table tr:last-child {
    border-bottom: none;
}

.table tr th {
    border-bottom: 1px solid;
}

.addForm{
    width: 90%;
    display: inline-flex;
    justify-content: space-between
}

.formItem{
    display: grid;
}

.formItem input{
    height: 30px;
    color: hsl(0, 0%, 50%);
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.addForm button{
    height: 44px;
    align-self: end;
}

.filter{
    display: grid;
    margin: 10px;
}

.filterDiv{
    display: inline-flex;
    position: absolute;
    top: 70px;
    right: 100px;
}