.registerPage{
    width: 100%;
    height: 860px;
    background-color: cornflowerblue;
    float:left;    
}

.registerForm{
    background-color: whitesmoke;
    padding: 2%;
    display: grid;
    width: 400px;
    margin: auto;
    margin-top: 10%;
    font-weight: bold;
    font-size: small;
    border-radius: 5px;
}

.title{
    font-weight: bold;
    text-align: center;
    font-size: large;
}

.registerForm button{
    margin-top: 10px;
    background-color: cornflowerblue;
    color: whitesmoke;
    border: none;
    padding: 5px;

}

.sameLine{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: end;
}

.stacked{
    justify-content: left;
}

.stacked label{
    width:100%;
}
.stacked input{
    width:100%;
}